html {
    display: block;
    font-family: "Roboto", Arial, Helvetica, Tahoma, Calibri, Verdana, sans-serif;
}

body {
    display: block;
    margin: 0;
}

a, u {
    text-decoration: none;
}

#wrapper {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#particles-js {
    background: rgb(249, 249, 252);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    display: flex;
    justify-content: center;
}

#main {
    /*height: 100vh;
    max-width: 100vw;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    z-index: -1;*/

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
}

#greetingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 100%;
}

#greeting {
    font-size: 25px;
    z-index: 1;
}

#social {
    display: flex;
    justify-content: center;
}

.top-icon {
    margin: 10px;
    color: rgb(60, 60, 73);

    animation-name: icon-animation;
    animation-duration: 0.8s;
}

.top-icon:hover {
    transform: scale(1.1);
}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover {
    color: rgb(15, 107, 228);
}

.fa-envelope-square:hover {
    color: rgb(82, 158, 82);
}

.fa-file-pdf:hover {
    color: rgb(173, 75, 75);
}

.emoji {
    display: inline-block;
    line-height: 20px;
    font-size: 20px;
}

.emoji:hover {
    transform: scale(1.3);
}

#bottomRow {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
}

#introduction {
    font-size: 25px;
    line-height: 30px;
    z-index: 1;
}

#figure {
    z-index: 1;
}

#image-wrapper {
    height: 500px;
    width: 300px;
}

#image {
    /*max-height: 700px;
    max-width: 500px;
    height: auto;
    width: auto;*/

    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    border-radius: 5%;
}